.hidden{
    display:none;
}

.btn{
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin:10px;
}

.menu-options {
    background-color: white;
    border: 1px solid #ccc;
    border-radius:4px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding:0;
    margin:0;
    list-style: none;
    z-index:1000;
    width: 150px;               /* Fixed width */
    margin-top: 5px;            /* Small gap between button and dropdown */
    
}

.dropdown-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    
}

.menu-options li{
    margin:0;
    padding:0;
}

.menu-options a{
    display: block; /*makes entire area clickable */
    padding:12px 16px; /* space inside each item */
    text-decoration: none; /* remove underline */
    color: #333; /*dark gray text*/
    border-bottom: 1px solid #eee; /*light line between items/links*/
    /* transition: all 0.2s ease; */
}

.menu-options a:hover{
    background-color: #f8f9fa; /*light background on hover*/
    color:#007bff; /*blue text on hover (matches button) */
}

.menu-options a:last-child{
    border-bottom: none;
}